DISCORD_TOKEN=your_discord_token_here
TRADING_MODE=paper
TRADIER_PAPER_API_KEY= 
TRADIER_LIVE_API_KEY=
TRADIER_PAPER_ACCOUNT_ID=
TRADIER_LIVE_ACCOUNT_ID=
DISCORD_CHANNEL_ID=
DISCORD_CHANNEL_ID_2=

USE_WEBHOOK=false
WEBHOOK_APP_ID_ALLOWED=com.hnc.Discord
WEBHOOK_PORT=8080
WEBHOOK_SUBTITLE_CHANNEL_2=
WEBHOOK_REQUIRED_SENDER=@AlertTC

TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
